---
 import HtmlIcon from "../icons/Html.astro"
 import CssIcon from "../icons/Css.astro"
 import JavaScriptIcon from "../icons/JavaScript.astro"

 const TAGS = {
    HTML: {
        name: 'HTML',
        class: 'bg-red-500',
        icon: HtmlIcon,
    },

    CSS: {
        name: 'CSS',
        class: 'bg-blue-500',
        icon: CssIcon,
    },

    JAVASCRIPT: {
        name: 'JavaScript',
        class: 'bg-yellow-500',
        icon: JavaScriptIcon,
    },
}

 const PROJECTS = [
    {
        title: 'Stoom',
        description: 'Esta plataforma permite acceder a un catalogo de juegos y a información de los mismos. Adherido a ello la opción de crear una cuenta y agregar juegos a favoritos.',
        link : 'https://stoom-labo.vercel.app',
        github: 'https://github.com/ZoeBarrios/Stoom',
        image: "/projects/stoom.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],

    }
 ]
---


{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h2 class="text-2xl mb-2 font-semibold text-cyan-300">{title}</h2>
            <p class="text-lg text-pretty">{description}</p>
            <ul class="flex gap-2 mt-5 mb-5 flex-row">
                {tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 items-center rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"></tag.icon>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
        </article>
    ))
}